<nz-table
  #headerTable
  [nzData]="listOfDisplayData"
  [nzShowPagination]="false"
  [nzPageSize]="50"
  [nzScroll]="{ x: '1610px', y: '659px' }"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <ng-container *ngFor="let data of headTable">
        <th
          nzCustomFilter
          [nzWidth]="data.key === 'name_of_product' ? '610px' : '280px'"
          [nzLeft]="data.key === 'brand' ? true : false"
        >
          {{ data.name }}
          <nz-filter-trigger
            [(nzVisible)]="data.isSort"
            [nzDropdownMenu]="menu"
          >
            <span
              nz-icon
              nzType="search"
              *ngIf="data.key !== 'availability'; else customIcon"
            ></span>
            <ng-template #customIcon>
              <img src="./../../../../assets/availability.svg" alt="" />
            </ng-template>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div
                class="search-box"
                [ngStyle]="{
                  width: data.key === 'name_of_product' ? '600px' : '270px'
                }"
              >
                <nz-input-group
                  [nzSuffix]="suffixIconSearch"
                  *ngIf="data.key !== 'availability'; else availability"
                  style="margin-bottom: 8px"
                >
                  <input
                    type="text"
                    nz-input
                    placeholder="Search name"
                    [(ngModel)]="searchValue"
                  />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span
                    nz-icon
                    nzType="close"
                    nzTheme="outline"
                    (click)="reset(data)"
                    style="cursor: pointer"
                  ></span>
                </ng-template>
                <ng-template #availability>
                  <div style="height: 32px">
                    <nz-switch
                      [(ngModel)]="searchAvailability"
                      style="margin-right: 10px"
                    ></nz-switch>
                    В наличии
                  </div>
                </ng-template>
                <button
                  nz-button
                  nzSize="small"
                  nzType="primary"
                  (click)="search(data)"
                  class="search-button"
                >
                  OK
                </button>
                <button nz-button nzSize="small" (click)="reset(data)">
                  Сбросить
                </button>
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of headerTable.data">
      <td nzLeft="0">{{ data.brand }}</td>
      <td>{{ data.vender_code }}</td>
      <td>{{ data.name_of_product }}</td>
      <td>{{ data.price }}</td>
      <td [ngStyle]="{ color: data.availability ? '#00A0E3' : '#000' }">
        {{ data.availability ? "В наличии" : "Нет в наличии" }}
      </td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.date_of_delivery }}</td>
    </tr>
  </tbody>
</nz-table>
